@using System.Data;
<style>
    .main_header {
        width: 783px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
    }

    .main {
        width: 783px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
        /*min-height:1000px;*/
    }

    .cn {
        width: 260px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        padding-left: 12px;
    }

    .on {
        width: 290px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .od {
        width: 210px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .cn .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .cn .top_right {
        width: 160px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .on .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .on .top_right {
        width: 190px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .od .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .od .top_right {
        width: 110px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .bor {
        padding-top: 2px;
        width: 255px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: justify;
    }

        .bor img {
            width: 80px;
            height: auto;
            border: 0px;
            float: left;
        }

        .bor .left {
            width: 100px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }

        .bor .right {
            width: 135px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }
    /*.remarks {
    width: 200px;
    float: left;
    font-family: Arial;
    font-size: 10px;
    text-align: left;
    text-align: justify;
    }*/
    .main_header h2 {
        font-family: Arial;
        font-size: 14px;
        padding-left: 15px;
    }

    .main_header .SalesOrder {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }



    .fontsize {
        font-family: Arial;
        font-size: 9px;
        text-align: left;
        padding-left: 3px;
    }

    .pa_l {
        padding-left: 2px;
    }

    .pa_l_pendqty {
        /*padding-left: 2px;*/
        font-size: 9px;
        font-weight: bold;
    }

    .t_p_o_v {
        float: left;
        font-family: Arial;
        font-size: 11px;
        text-align: left;
        line-height: 18px;
        paddingbottom: 2px;
        paddingtop: 2px;
    }
</style>

@{
    string lpath = string.Empty;
    lpath = ViewBag.FLogoPath.ToString();
}
<table class="main">
    @Html.Partial("~/Areas/ApplicationLayer/Views/SalesAndDistributionViews/MIS/MISOrderIntimation/PratialMISOrderIntimationTrDetail.cshtml")
</table>








