@using EnRepMobileWeb.Resources;
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*<title>@Model.Title</title>*@
<style>
    .circle {
        width: 10px;
        height: 10px;
        border-radius: 10px;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-12 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>

                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool pl-0 pr-0 mb-2">                       
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">Category</label>
                                <select class="form-control" id="Category" name="Category">
                                    <option value="">All</option>
                                    <option value="" selected="selected">Passenger Vehicle</option>
                                    <option value="">Passenger Vehicle 1</option>
                                    <option value="">Passenger Vehicle 2</option>
                                    <option value="">Passenger Vehicle 3</option>
                                    <option value="">Passenger Vehicle 4</option>
                                    <option value="">Passenger Vehicle 5</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">Make</label>
                                <select class="form-control" id="Make" name="Make">
                                    <option value="0">All</option>
                                    <option value="" selected="selected">Audi</option>
                                    <option value="">Skoda</option>

                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">Model</label>
                                <select class="form-control" id="Model" name="Model">
                                    <option value="">All</option>
                                    <option value="" selected="selected">Q6</option>
                                    <option value="">Kushak</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Status</label>
                                <select class="form-control" id="ddlStatus" name="Status">
                                    <option value="0">All</option>
                                    <option value="A" selected="selected">Approved</option>
                                    <option value="C">Cancelled</option>
                                    <option value="D">Drafted</option>
                                    <option value="F">Forwarded</option>
                                    <option value="IN">Invoiced</option>
                                    <option value="PC">Pending For Costing</option>
                                </select>
                            </div>
                            <div class="col-md-1 col-sm-12 pl-0">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>                            
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialProductTrackingList.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->