<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<footer>
    <div class="col-sm-3">
        <label>Registered To:</label><b>
            @if (Session["RegTo"] != null)
            {
                @Session["RegTo"]
            }
        </b>
    </div>
    <div class="col-md-55">
        <label>Registration No.:</label><b>
            @if (Session["RegNo"] != null)
            {
                @Session["RegNo"]
            }
        </b>
        <input type="hidden" id="macAddress" />
        <input type="hidden" id="ipAddress" />
        <input type="hidden" id="hostName" />
    </div>
    <div class="col-md-55"><label>Current Date:</label><b><span id="time"></span></b></div>
    <div class="col-sm-4"> <label>Mac Id:</label><b><span id="macaddress"></span></b></div>
    <div class="clearfix"></div>
</footer>
<script>
    function display_ct7() {
        /*commented and modify by Hina sharma on 02-07-2024 to load proper data on stock valuation MIS undersupervision of prem sir*/
        //hideLoader();
     
        var docid = $("#DocumentMenuId").val();
        if (docid !== "" && docid !== null && docid !=="undefined") {
            if (docid == '105104135165' || docid == '105104135105' || docid == '105104135101' || docid == '105104135120' || docid == '105104135115'
                || docid == '105104135140' || docid == '105104135135' || docid == '105104135155' || docid == '105104135170' || docid == '105104135130' || docid == '105104135125'
                || docid == '105104135160' || docid == '105104115155' || docid == '105105117' || docid == '105105116'
                || docid == '105103145127' || docid == '105103145115' || docid == '102125' || docid == '105103140') {/*It's only for all Fianance MIS,All Id add by Hina sharma on 19-11-2024 except 105104135165*/
                //debugger;
                //hideLoader();
            }
            else {
                //hideLoader();
            }
        }
        
        var x = new Date()
        var ampm = x.getHours() >= 12 ? ' PM' : ' AM';
        hours = x.getHours() % 12;
        hours = hours ? hours : 12;
        hours = hours.toString().length == 1 ? 0 + hours.toString() : hours;
        var minutes = x.getMinutes().toString()
        minutes = minutes.length == 1 ? 0 + minutes : minutes;

        var seconds = x.getSeconds().toString()
        seconds = seconds.length == 1 ? 0 + seconds : seconds;

        var month = (x.getMonth() + 1).toString();
        month = month.length == 1 ? 0 + month : month;

        var dt = x.getDate().toString();
        dt = dt.length == 1 ? 0 + dt : dt;

        var x1 = dt + "/" + month + "/" + x.getFullYear();
        x1 = x1 + " " + hours + ":" + minutes + ":" + seconds + " " + ampm;
        document.getElementById("time").innerHTML = x1;
        display_c7();
    }
    function display_c7() {
        var refresh = 1000; // Refresh rate in milli seconds
        mytime = setTimeout('display_ct7()', refresh)
    }
    display_c7()
    debugger;
    var mac = $("#MAC_Address").text();
    var system = $("#SystemName").text();
    var ip = $("#System_IP_Address").text();
    var macaddress = mac + "/" + system + "/" + ip;
    document.getElementById("macaddress").innerHTML = macaddress;
</script>


@*<script type="text/javascript">
    debugger;
    var macAddress = "";
    var ipAddress = "";
    var computerName = "";
    var wmi = GetObject("winmgmts:{impersonationLevel=impersonate}");
    e = new Enumerator(wmi.ExecQuery("SELECT * FROM Win32_NetworkAdapterConfiguration WHERE IPEnabled = True"));
    for (; !e.atEnd(); e.moveNext()) {
        debugger;
        var s = e.item();
        macAddress = s.MACAddress;
        ipAddress = s.IPAddress(0);
        computerName = s.DNSHostName;

        $("#macAddress").val(s.MACAddress);
        $("#ipAddress").val(s.IPAddress(0));
        $("#hostName").val(s.DNSHostName);
    }
</script>*@

@*<script language="javascript">
    debugger;

    var sMacAddr = "";
    var sIPAddr = "";
    var sDNSName = "";
    var service = locator.ConnectServer();
    service.Security_.ImpersonationLevel = 3;
    service.InstancesOfAsync(foo, 'Win32_NetworkAdapterConfiguration');
</script>
<script FOR="foo" EVENT="OnObjectReady(objObject,objAsyncContext)" LANGUAGE="JScript">
    debugger;
    if (objObject.IPEnabled != null && objObject.IPEnabled != "undefined" && objObject.IPEnabled == true) {
        if (objObject.IPEnabled && objObject.IPAddress(0) != null && objObject.IPAddress(0) != "undefined")
            sIPAddr = objObject.IPAddress(0);
        if (objObject.MACAddress != null && objObject.MACAddress != "undefined")
            sMacAddr = objObject.MACAddress;
        if (objObject.DNSHostName != null && objObject.DNSHostName != "undefined")
            sDNSName = objObject.DNSHostName;
    }
</script>

<script FOR="foo" EVENT="OnCompleted(hResult,pErrorObject, pAsyncContext)" LANGUAGE="JScript">
    //myForm.macAddress.value = sMacAddr;
    //myForm.ipAddress.value = sIPAddr;
    //myForm.hostName.value = sDNSName;
    debugger;
    $("#macAddress").val(sMacAddr);
    $("#ipAddress").val(sIPAddr);
    $("#hostName").val(sDNSName);
</script>*@