<div class="col-md-12 col-sm-12 ">
    <div class="x_panel mar_pad1 ">
        <div class="x_content mar_pad1">

            <h2 class="col-md-4 col-sm-12 ">This is a Page Heading</h2>
            <!-- Smart Wizard -->

            <div id="wizard" class="form_wizard wizard_horizontal col-md-4 col-sm-12 work_flow">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1" class="done" isdone="1" rel="1">
                            <span class="step_no">1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2" class="selected" isdone="1" rel="2">
                            <span class="step_no">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3" class="disabled" isdone="0" rel="3">
                            <span class="step_no">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4" class="disabled" isdone="0" rel="4">
                            <span class="step_no">4</span>
                        </a>
                    </li>
                </ul>
                <div id="step-1">
                </div>
            </div>
            <div id="" class="col-md-4 col-sm-12 work_flow"> &nbsp; </div>
            <div class="x_title pad_mar ">
                <div class="col-md-12 col-sm-12 icon_tool ">
                    <form class="available_stock pad_mar" action="" method="post" novalidate="">
                        <div class="col-md-10 col-sm-12">
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    Item Name
                                </label>
                                <select class="form-control" id="">
                                    <option>Choose option</option>
                                    <option>Item Name</option>
                                    <option>Item Name One</option>
                                    <option>Item Name Two</option>
                                    <option>Item Name Three</option>
                                    <option>Item Name Four</option>
                                    <option>Item Name Five</option>
                                    <option>Item Name Six</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    Item Group
                                </label>
                                <select class="form-control" id="">
                                    <option>Choose option</option>
                                    <option>Base UOM</option>
                                    <option>Base UOM One</option>
                                    <option>Base UOM Two</option>
                                    <option>Base UOM Three</option>
                                    <option>Base UOM Four</option>
                                    <option>Base UOM Five</option>
                                    <option>Base UOM Six</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    Attribute Name
                                </label>
                                <select class="form-control" id="">
                                    <option>Choose option</option>
                                    <option>Base UOM</option>
                                    <option>Base UOM One</option>
                                    <option>Base UOM Two</option>
                                    <option>Base UOM Three</option>
                                    <option>Base UOM Four</option>
                                    <option>Base UOM Five</option>
                                    <option>Base UOM Six</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    Attribute Value
                                </label>
                                <select class="form-control" id="">
                                    <option>Choose option</option>
                                    <option>Base UOM</option>
                                    <option>Base UOM One</option>
                                    <option>Base UOM Two</option>
                                    <option>Base UOM Three</option>
                                    <option>Base UOM Four</option>
                                    <option>Base UOM Five</option>
                                    <option>Base UOM Six</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">Create Date From &amp; To </label>
                                <div class="input-group">
                                    <input id="myDatepicker" class="form-control" type="text" name="stock_account" required="required" placeholder="Date From"  onblur="this.placeholder=' Date From'">
                                    &nbsp;
                                    <input id="stock_account" class="form-control" type="text" name="stock_account" required="required" placeholder=" Date To"  onblur="this.placeholder=' Date To'">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    Active Status <span class="required">*</span>
                                </label>
                                <select class="form-control" id="">
                                    <option>Choose option</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="pull-right tool_width">
                                <ul>
                                    <li>
                                        <a class="tooltip-test" href="item_details.html" data-toggle="tooltip" title="New Record"><img src="/Content/Images/addgreen.png" width="32" height="32" alt="Add"></a>
                                    </li>
                                    <li>
                                        <a class="tooltip-test" href="#" data-toggle="tooltip" title="Export"><img src="/Content/Images/export_excel.png" width="32" height="32" alt="Add"></a>
                                    </li>
                                    <li>
                                        <a class="tooltip-test" href="#" data-toggle="tooltip" title="Import"><img src="/Content/Images/import_excel.png" width="32" height="32" alt="Add"></a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

