@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.BankRecancellation.Fy_Todate
@using EnRepMobileWeb.Resources;
<label class="col-form-label label-align">@Resource.ToDate</label>
@Html.TextBoxFor(model  => model.FyToDate, new
{
    @class = "form-control",
    @id = "BkReTodate",
    @onchange = "onchangeGetAccountBal()",
    @type = "date",
    @max = Model.FyToDate,
    @min = Model.ParMinDate
})
<input type="hidden" id="HdnToDate" value="@Model.FyToDate" />