@model EnRepMobileWeb.MODELS.LOGIN.LOGIN_MODEL
@Styles.Render("~/Content/Css/Login")
<script src="~/Content/Scripts/Login/Login.js"></script>
@if (Model.CompanyNameList != null)
{

<div class="wrap-input100 validate-input sel_bor" data-validate="">
    <span class="label-input100">Company</span>
    @Html.DropDownListFor(model => model.CompanyName, new SelectList(Model.CompanyNameList, "Comp_id", "Comp_name"), new { @class = "form-control", @id = "selectCompany" })
    <span class="field-validation-valid" id="spanCompany"></span>
</div>
<div class="wrap-input100 validate-input sel_bor" data-validate="">
    <span class="label-input100">Branch</span>
    @Html.DropDownListFor(model => model.BranchId, new SelectList(Model.BranchNameList, "Br_id", "Br_name"), new { @class = "form-control", @id = "selectBranch" })
    <span class="field-validation-valid" id="spanBranch"></span>
</div>
<div class="wrap-input100 validate-input sel_bor" data-validate="">
    <span class="label-input100">Language</span>
    @Html.DropDownListFor(model => model.Language, new SelectList(Model.LanguageList, "lang_id", "lang_name"), new { @class = "form-control", @id = "selectLanguage" })
    <span class="field-validation-valid" id="spanLanguage"></span>
</div>

}
else
{

<div class="wrap-input100 validate-input sel_bor" data-validate="">
    <span class="label-input100">Company</span>
    <select class="form-control" id="selectCompany">
        <option value="-1">Company Name</option>
    </select>
    <span class="field-validation-valid" id="spanCompany"></span>
</div>
<div class="wrap-input100 validate-input sel_bor" data-validate="">
    <span class="label-input100">Branch</span>
    <select class="form-control" id="selectBranch">
        <option value="-1"> Branch Name</option>
    </select>
    <span class="field-validation-valid" id="spanBranch"></span>
</div>
<div class="wrap-input100 validate-input sel_bor" data-validate="">
    <span class="label-input100">Language</span>
    <select class="form-control" id="selectLanguage">
        <option value="-1"> Select Language</option>
    </select>
    <span class="field-validation-valid" id="spanLanguage"></span>
</div>
}