@using EnRepMobileWeb.Resources;

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#example_wrapper .col-md-6:eq(0)');
    });
</script>
<style>
    .Option { font-family:Arial, Helvetica, sans-serif; width:100%; text-align:center; font-size:26px; font-weight:bold; height:80vh;
    }
</style>
<div class="col-md-12 col-sm-12 ">
    <div class="x_panel mar_pad1 ">
        <div class="x_content mar_pad1 Option">
            Option is not Ready
        </div>
        </div>
    </div>
            

            <!--<div class="row">-->
            <!-- Workflow Information -->
            <!--<div id="WorkflowInformation" class="modal fade" role="dialog">
                <div class="modal-dialog" style="max-width:700px;">-->
            <!-- Modal content-->
            <!--@Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">Application Layer   &gt; Inventory Management &gt; Delivery Note  </h2>-->
            <!-- Smart Wizard -->
            <!--<div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">

                                <ul class="wizard_steps">
                                    <li>
                                        <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_1">
                                            <span class="step_no">1</span>
                                        </a>
                                    </li>
                                </ul>

                                <input type="hidden" id="hdDoc_No" value="">

                            </div>
                            <input id="WF_status" name="WF_status" type="hidden" value="">
                            <input id="ListFilterData" name="ListFilterData" type="hidden" value="0,0,2023-07-01,2023-12-02,0">
                            <input type="hidden" id="DocumentMenuId" value="105102110">
                            <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test" title="Add New" href="/ApplicationLayer/DeliveryNoteList/AddNewDeliveryNote"><img src="/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddCust" alt="Add"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="x_title pad_mar ">
                                <div class="col-md-12 col-sm-12 icon_tool ">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="col-md-3 col-sm-12">
                                            <div id="SupplierName">
                                                <label class="col-form-label label-align">Supplier Name </label>
                                                <select class="form-control select2-hidden-accessible" id="ddlSupplierName" name="supp_id" tabindex="-1" aria-hidden="true">
                                                    <option value="0">---Select---</option>
                                                    <option value="1269">0000004092023</option>
                                                    <option value="1270">000000409202300</option>
                                                    <option value="1268">00004092023</option>
                                                    <option value="1266">04092023</option>
                                                    <option value="1237">AB Supplier Test</option>
                                                    <option value="1234">AB SUPPLIRE</option>
                                                    <option value="1235">AB TESTING SUPP</option>
                                                    <option value="1238">AB_TEST SUPPLIER</option>
                                                    <option value="1229">ABC_TEST_3</option>
                                                    <option value="1224">ABC+TEST</option>
                                                    <option value="1239">ABCD</option>
                                                    <option value="1205">AbcSUPP</option>
                                                    <option value="1252">ABCSUPPLIERTEST</option>
                                                    <option value="1196">ADBC</option>
                                                    <option value="1172">Apex India Pvt. Ltd.</option>
                                                    <option value="1250">ASTROYOGI </option>
                                                    <option value="1281">awsdqwe</option>
                                                    <option value="1184">BALAJI ALWAR</option>
                                                    <option value="1187">BALAJI COMPONENT</option>
                                                    <option value="1249">BIRTH BIG</option>
                                                    <option value="1167">DD</option>
                                                    <option value="1180">dfdd</option>
                                                    <option value="1258">dfsdfsdf</option>
                                                    <option value="1153">dsdwwww</option>
                                                    <option value="1263">dsfgdfhgfghfh</option>
                                                    <option value="1253">EnReP Business Solucation (Supplire)</option>
                                                    <option value="1251">ERTIGA ONE</option>
                                                    <option value="1141">ffffccc</option>
                                                    <option value="1135">gggg</option>
                                                    <option value="1279">Import Supplier </option>
                                                    <option value="1143">Import Supplier1</option>
                                                    <option value="1213">KBC FORGINGS PVT LTD</option>
                                                    <option value="1165">KK</option>
                                                    <option value="1139">llkkll</option>
                                                    <option value="1142">lllll</option>
                                                    <option value="1176">Mahesh Pvt. Ltd.</option>
                                                    <option value="1186">MEHAR INDUSTRIES</option>
                                                    <option value="1277">mk</option>
                                                    <option value="1170">Mukesh test 1</option>
                                                    <option value="1171">Mukesh test 101</option>
                                                    <option value="1284">NMRC Metro</option>
                                                    <option value="1276">NT </option>
                                                    <option value="1275">pk comoany</option>
                                                    <option value="1280">qqqqqqqq</option>
                                                    <option value="1214">R N ENTERPRISES</option>
                                                    <option value="1183">RAJ </option>
                                                    <option value="1278">Raj Furnitures Pvt Ltd.</option>
                                                    <option value="1174">RBC Trading Co. Ltd.</option>
                                                    <option value="1182">RBC Trading Co. Ltd.1</option>
                                                    <option value="1226">REXON METAL INDUSTIRES LTD</option>
                                                    <option value="1188">RFHGJYGH</option>
                                                    <option value="1243">RS INTERPRISESS</option>
                                                    <option value="1255">RV Infra</option>
                                                    <option value="1154">sasas</option>
                                                    <option value="1148">sasasa</option>
                                                    <option value="1190">sdgvfcv</option>
                                                    <option value="1189">SHARP INDUSTRIES</option>
                                                    <option value="1223">SM CREACTIONS</option>
                                                    <option value="1173">STL Ltd.</option>
                                                    <option value="1242">SUPP 12 APR 1248</option>
                                                    <option value="1233">SUPP_0012</option>
                                                    <option value="1230">SUPP_TEST</option>
                                                    <option value="1231">SUPP_TEST_001</option>
                                                    <option value="1134">Supplier 0502</option>
                                                    <option value="1150">Supplier 0503</option>
                                                    <option value="1156">Supplier 0504</option>
                                                    <option value="1227">TATE METAL INDUSTRIES PVT LTD</option>
                                                    <option value="1158">test</option>
                                                    <option value="1267">TEST 00040920223</option>
                                                    <option value="1246">TEST 07062023</option>
                                                    <option value="1247">TEST 07062023 1756</option>
                                                    <option value="1248">Test 07062023 1809</option>
                                                    <option value="1240">TEST 12 APR 1144</option>
                                                    <option value="1178">test curr import</option>
                                                    <option value="1177">test curr inr</option>
                                                    <option value="1241">TEST SUPP 12 APR 1236</option>
                                                    <option value="1272">TEST0004092023</option>
                                                    <option value="1274">TEST000409202300</option>
                                                    <option value="1221">test28</option>
                                                    <option value="1265">TESTING 04092023</option>
                                                    <option value="1245">TESTSM</option>
                                                    <option value="1218">V S AUTOMOTIVE LTD</option>
                                                    <option value="1217">V S CARRIERS LTD</option>
                                                    <option value="1207">VIKRANT PVT LTD</option>
                                                    <option value="1212">VINKO AUTO LTD.</option>
                                                    <option value="1215">WEC Engineering</option>
                                                    <option value="1202">ZOMATO</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 280px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ddlSupplierName-container"><span class="select2-selection__rendered" id="select2-ddlSupplierName-container" title="---Select---">---Select---</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                <input type="hidden" id="hdSupplierList" value="/ApplicationLayer/DeliveryNoteList/GetAutoCompleteSupplierName">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <labe class="col-form-label label-align" style="float:left;">
                                                Source Type
                                            </labe>
                                            <select class="form-control" id="ddlSourceType" name="SourceType">
                                                <option value="0">Select Source Type</option>
                                                <option value="O">Order</option>
                                                <option value="G">Gate Pass</option>
                                            </select>

                                            <input type="hidden" id="CustListName" value="/ApplicationLayer/CustomerSetup/GetAutoCompleteCustList">
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <label class="col-form-label label-align">
                                                From Date
                                            </label>
                                            <input class="form-control" id="txtFromdate" max="2023-12-02" name="FromDate" onchange="FromToDateValidation()" type="date" value="2023-12-01">
                                            <span id="PaymentDate" class="sr-only">(success)</span>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <label class="col-form-label label-align">
                                                To Date
                                            </label>
                                            <input value="2023-12-02" class="form-control" id="txtTodate" max="2023-12-02" name="ToDate" onchange="FromToDateValidation()" placeholder="dd-MMM-yyyy" type="date">                                <span id="PaymentDate" class="sr-only">(success)</span>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <label class="col-form-label label-align">
                                                Status
                                            </label>
                                            <select class="form-control" id="ddlStatus" name="Status">
                                                <option value="0">All</option>
                                                <option value="A">Approved</option>
                                                <option value="C">Cancelled</option>
                                                <option value="D">Drafted</option>
                                                <option value="F">Forwarded</option>
                                                <option value="GR">Goods Received</option>
                                                <option value="QP">QC Pending</option>
                                            </select>
                                        </div>
                                        <div class="col-md-1 col-sm-12">
                                            <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="FilterDeliveryNoteList()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel margin_top_zero">
                        <div class="x_content">
                            <div class="card-box table-responsive dy_table">
                                <div id="DeliveryNoteListTbBody" class="sticky-table sticky-ltr-cells sb-container container-example1">
                                    <table id="example" class="table table-striped width2200 rowhighlighttbl dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-buttons_info" style="width: 100%;">
                                        <thead>
                                            <tr class="sticky-header" role="row"><th width="2%" class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Sr.No.: activate to sort column descending" style="width: 38px;"> Sr.No.</th><th width="10%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Delivery Note  Number: activate to sort column ascending" style="width: 166px;">Delivery Note <br> Number</th><th width="8%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Delivery Note    Date: activate to sort column ascending" style="width: 119px;">Delivery Note  <br>  Date</th><th width="8%" hidden="" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Delivery Note Date: activate to sort column ascending" style="width: 0px;">Delivery Note Date</th><th width="6%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Source: activate to sort column ascending" style="width: 83px;">Source</th><th width="10%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Source Document   Number: activate to sort column ascending" style="width: 168px;">Source Document <br>  Number</th><th width="9%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Source Document   Date: activate to sort column ascending" style="width: 139px;">Source Document <br>  Date</th><th width="10%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Supplier: activate to sort column ascending" style="width: 163px;">Supplier</th><th width="4%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Currency: activate to sort column ascending" style="width: 58px;">Currency</th><th width="7%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 108px;">Status</th><th width="7%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Created By: activate to sort column ascending" style="width: 101px;">Created By</th><th width="7%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Created On: activate to sort column ascending" style="width: 109px;">Created On</th><th width="7%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Approved By: activate to sort column ascending" style="width: 104px;">Approved By</th><th width="7%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Approved On: activate to sort column ascending" style="width: 109px;">Approved On</th><th width="8%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Amended By: activate to sort column ascending" style="width: 87px;">Amended By</th><th width="7%" class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Amended On: activate to sort column ascending" style="width: 85px;">Amended On</th></tr>
                                        </thead>
                                        <tbody id="">
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">1</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000180</td>
                                                <td>29-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-29</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000026</td>
                                                <td>29-11-2023</td>
                                                <td>AB Supplier Test</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Approved</td>
                                                <td>Prakash</td>
                                                <td>29-11-2023 12:19</td>
                                                <td>Prakash</td>
                                                <td>29-11-2023 12:19</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">2</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000179</td>
                                                <td>29-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-29</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000026</td>
                                                <td>29-11-2023</td>
                                                <td>AB Supplier Test</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>29-11-2023 12:16</td>
                                                <td>Prakash</td>
                                                <td>29-11-2023 12:16</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">3</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000178</td>
                                                <td>20-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-20</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000014</td>
                                                <td>20-11-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">QC Pending</td>
                                                <td>Prakash</td>
                                                <td>20-11-2023 14:13</td>
                                                <td>Prakash</td>
                                                <td>20-11-2023 14:23</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">4</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000177</td>
                                                <td>18-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-18</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000009</td>
                                                <td>18-11-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>18-11-2023 11:48</td>
                                                <td>Prakash</td>
                                                <td>18-11-2023 11:48</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">5</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000176</td>
                                                <td>18-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-18</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000008</td>
                                                <td>18-11-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>18-11-2023 11:00</td>
                                                <td>Prakash</td>
                                                <td>18-11-2023 11:00</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">6</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000175</td>
                                                <td>18-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-18</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000007</td>
                                                <td>18-11-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>18-11-2023 10:48</td>
                                                <td>Prakash</td>
                                                <td>18-11-2023 10:48</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">7</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000174</td>
                                                <td>17-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-17</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000004</td>
                                                <td>17-11-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>17-11-2023 12:42</td>
                                                <td>Prakash</td>
                                                <td>17-11-2023 12:42</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">8</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000173</td>
                                                <td>06-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-06</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000002</td>
                                                <td>06-11-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>06-11-2023 11:55</td>
                                                <td>Prakash</td>
                                                <td>06-11-2023 11:55</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">9</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000172</td>
                                                <td>06-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-06</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000002</td>
                                                <td>06-11-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>06-11-2023 11:54</td>
                                                <td>Prakash</td>
                                                <td>06-11-2023 11:55</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">10</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000171</td>
                                                <td>03-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-03</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000024</td>
                                                <td>31-10-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Drafted</td>
                                                <td>Prakash</td>
                                                <td>03-11-2023 16:54</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">11</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000170</td>
                                                <td>01-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-01</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000001</td>
                                                <td>01-11-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>01-11-2023 12:59</td>
                                                <td>Prakash</td>
                                                <td>01-11-2023 12:59</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">12</td>
                                                <td id="DeliverNoteNumber">B1/11/23/DN0000169</td>
                                                <td>01-11-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-11-01</td>
                                                <td>Order</td>
                                                <td>B1/11/23/DPO0000001</td>
                                                <td>01-11-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>01-11-2023 12:58</td>
                                                <td>Prakash</td>
                                                <td>01-11-2023 12:58</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">13</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000168</td>
                                                <td>20-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-20</td>
                                                <td>Order</td>
                                                <td>B1/01/22/DPO0000004</td>
                                                <td>29-01-2022</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">QC Pending</td>
                                                <td>admin</td>
                                                <td>20-10-2023 11:36</td>
                                                <td>Prakash</td>
                                                <td>20-10-2023 11:38</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">14</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000167</td>
                                                <td>17-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-17</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000022</td>
                                                <td>17-10-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">QC Pending</td>
                                                <td>Prakash</td>
                                                <td>17-10-2023 15:18</td>
                                                <td>Prakash</td>
                                                <td>17-10-2023 15:18</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">15</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000166</td>
                                                <td>17-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-17</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000021</td>
                                                <td>17-10-2023</td>
                                                <td>AB Supplier Test</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">QC Completed</td>
                                                <td>Prakash</td>
                                                <td>17-10-2023 14:35</td>
                                                <td>Prakash</td>
                                                <td>17-10-2023 14:35</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">16</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000165</td>
                                                <td>17-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-17</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000019</td>
                                                <td>16-10-2023</td>
                                                <td>AB Supplier Test</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">QC Pending</td>
                                                <td>Prakash</td>
                                                <td>17-10-2023 11:14</td>
                                                <td>Prakash</td>
                                                <td>17-10-2023 11:14</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">17</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000164</td>
                                                <td>10-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-10</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000006</td>
                                                <td>09-10-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">QC Pending</td>
                                                <td>Prakash</td>
                                                <td>10-10-2023 10:50</td>
                                                <td>Prakash</td>
                                                <td>10-10-2023 10:51</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">18</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000163</td>
                                                <td>10-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-10</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000007</td>
                                                <td>09-10-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>10-10-2023 10:47</td>
                                                <td>Prakash</td>
                                                <td>10-10-2023 10:47</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">19</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000162</td>
                                                <td>10-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-10</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000008</td>
                                                <td>09-10-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Cancelled</td>
                                                <td>Prakash</td>
                                                <td>10-10-2023 10:28</td>
                                                <td>Prakash</td>
                                                <td>10-10-2023 10:28</td>
                                                <td>admin</td>
                                                <td>23-10-2023 15:39</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">20</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000161</td>
                                                <td>10-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-10</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000009</td>
                                                <td>09-10-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">QC Pending</td>
                                                <td>Prakash</td>
                                                <td>10-10-2023 10:26</td>
                                                <td>Prakash</td>
                                                <td>10-10-2023 10:26</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">21</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000160</td>
                                                <td>10-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-10</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000005</td>
                                                <td>09-10-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>Prakash</td>
                                                <td>10-10-2023 10:12</td>
                                                <td>Prakash</td>
                                                <td>10-10-2023 10:13</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">22</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000159</td>
                                                <td>09-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-09</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000002</td>
                                                <td>04-10-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Cancelled</td>
                                                <td>Prakash</td>
                                                <td>09-10-2023 17:25</td>
                                                <td>Prakash</td>
                                                <td>09-10-2023 17:25</td>
                                                <td>Prakash</td>
                                                <td>09-10-2023 17:26</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">23</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000158</td>
                                                <td>09-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-09</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000002</td>
                                                <td>04-10-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Cancelled</td>
                                                <td>Prakash</td>
                                                <td>09-10-2023 14:56</td>
                                                <td>Prakash</td>
                                                <td>09-10-2023 15:10</td>
                                                <td>Prakash</td>
                                                <td>09-10-2023 15:18</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">24</td>
                                                <td id="DeliverNoteNumber">B1/10/23/DN0000157</td>
                                                <td>09-10-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-10-09</td>
                                                <td>Order</td>
                                                <td>B1/10/23/DPO0000002</td>
                                                <td>04-10-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Cancelled</td>
                                                <td>Prakash</td>
                                                <td>09-10-2023 10:23</td>
                                                <td>Prakash</td>
                                                <td>09-10-2023 11:44</td>
                                                <td>Prakash</td>
                                                <td>09-10-2023 11:56</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">25</td>
                                                <td id="DeliverNoteNumber">B1/09/23/DN0000156</td>
                                                <td>26-09-2023</td>
                                                <td hidden="hidden" id="Dn_date">2023-09-26</td>
                                                <td>Order</td>
                                                <td>B1/09/23/DPO0000020</td>
                                                <td>26-09-2023</td>
                                                <td>Apex India Pvt. Ltd.</td>
                                                <td class="center">₹</td>
                                                <td id="Doc_Status">Goods Received</td>
                                                <td>admin</td>
                                                <td>26-09-2023 14:21</td>
                                                <td>Prakash</td>
                                                <td>26-09-2023 14:22</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>-->
