@using EnRepMobileWeb.Resources;
<div class="modal-content" id="">
    <div class="modal-header">
        <h2> @Resource.Product Description Detail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <label class="col-form-label label-align">Product Description</label>
                <input value="" class="form-control" id="ProductDescription" maxlength="20" name="ProductDescription" placeholder="Product Description" type="text" disabled="disabled">

            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="col-form-label label-align">UOM</label>
                <input value="" class="form-control" id="UOM" maxlength="20" name="UOM" placeholder="UOM" type="text" disabled="disabled">
            </div>
            <div class="col-md-3 col-sm-12 pl-0">
                <label class="col-form-label label-align">Part Name</label>
                <input value="" class="form-control" id="PartName" maxlength="20" name="Part Name" placeholder="Part Name" type="text" disabled="disabled">
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">Sequence Number</label>
                <input value="" class="form-control" id="SequenceNumber" maxlength="20" name="SequenceNumber" placeholder="Sequence Number" type="number">
            </div>
            <div class="col-md-3 col-sm-12 pl-0">
                <label class="col-form-label label-align col-md-12 col-sm-12">Parameter Name</label>
                <input value="" class="form-control" id="ParameterName" maxlength="20" name="ParameterName" placeholder="Parameter Name" type="text">
            </div>
            <div class="col-md-3 col-sm-12 pl-0">
                <label class="col-form-label label-align col-md-12 col-sm-12">Parameter Type</label>
                <select class="form-control" id="ParameterType" name="ParameterType">
                    <option value="">All</option>
                    <option value="">Parameter Type</option>
                    <option value="">Parameter Type</option>
                </select>
            </div>
            <div class="col-md-3 col-sm-12 pl-0">
                <label class="col-form-label label-align col-md-12 col-sm-12">UOM</label>
                <select class="form-control" id="UOM" name="UOM">
                    <option value="">All</option>
                    <option value="">UOM</option>
                    <option value="">UOM</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 pl-0">
            <label class="col-form-label label-align col-md-12 col-sm-12">Lower Tolerance</label>
            <input value="" class="form-control" id="LowerTolerance" maxlength="20" name="LowerTolerance" placeholder="Lower Tolerance" type="number">
        </div>

        <div class="col-md-3 col-sm-12 pl-0">
            <label class="col-form-label label-align col-md-12 col-sm-12">Upper Tolerance</label>
            <input value="" class="form-control" id="UpperTolerance" maxlength="20" name="UpperTolerance" placeholder="Upper Tolerance" type="number">
        </div>
        <div class="col-md-1 col-sm-12 margin28">
            <a href="#">
                <div class="plus_icon1"> <i class="fa fa-plus" id="BtnAttribute" onclick="OnClickAddButton()" title="Populate Item Detail" data-original-title=""></i> </div>
            </a>
        </div>
        <div class="card-box table-responsive dy_table ">
            <div class="">
                <div class=" col-sm-12 mt-3">
                    <div class="tableFixHead">
                        <table id="parts" class="table table-bordered rowhighlighttbl">
                            <thead>
                                <tr class="headings">
                                    <th width="4%">&nbsp;</th>
                                    <th width="4%">&nbsp;</th>
                                    <th width="12%">Sequence Number</th>
                                    <th width="17%">Parameter Name</th>
                                    <th width="17%">Parameter Type</th>
                                    <th width="12%">UOM</th>
                                    <th width="9%">Lower Tolerance</th>
                                    <th width="9%">Upper Tolerance</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center">
                                        <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                    </td>
                                    <td>1</td>
                                    <td>Parameter 1</td>
                                    <td>Qnantitative</td>
                                    <td>MM</td>
                                    <td>3.2</td>
                                    <td>3.4</td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                    </td>
                                    <td>2</td>
                                    <td>Parameter 2</td>
                                    <td>Qualitative</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                    </td>
                                    <td>3</td>
                                    <td>Parameter 3</td>
                                    <td>Qnantitative</td>
                                    <td>CM</td>
                                    <td>7</td>
                                    <td>7.1</td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                    </td>
                                    <td> 4</td>
                                    <td>Parameter 4</td>
                                    <td>Observative</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        @*<button type="button" id="btnDispQtyReset" onclick="onclickbtnDispQtyReset()" class="btn btn-primary btn-sm">@Resource.Reset</button>*@
        <button type="button" id="btnDisQtySaveAndExit" onclick="onclickbtnDispQtySaveAndExit()" class="btn btn-primary btn-sm">@Resource.SaveAndExit</button>
        <button type="button" id="btnDispQtyDiscardAndExit" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.DiscardAndExit</button>
    </div>
</div>


