@using EnRepMobileWeb.Resources;
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*<title>@Model.Title</title>*@
<style>
    .circle {
        width: 10px;
        height: 10px;
        border-radius: 10px;
    }
</style>
<div class="row">   
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-12 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>               
               
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <div class="col-md-11 col-sm-12 pb-2 pl-0 pr-0">
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">Product Description</label>
                                <select class="form-control" id="ProductDescription" name="ProductDescription" disabled>
                                    <option value="">All</option>
                                    <option value="" selected>Engine Mount -TMT</option>
                                    <option value="">Engine Mount -TMT</option>
                                </select>
                            </div>
                            <div class="col-md-1 col-sm-12 pl-0">
                                <label class="col-form-label label-align">UOM</label>
                                <input value="" class="form-control" id="UOM" maxlength="20" name="UOM" placeholder="Pcs" type="text" disabled="disabled">
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">Number of Parts</label>
                                <input value="" class="form-control num_right" id="NumberOfParts" maxlength="20" name="NumberOfParts" placeholder="6" type="text" disabled="disabled">
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">Make</label>
                                <input value="" class="form-control" id="Make" maxlength="20" name="Make" placeholder="Audi" type="text" disabled="disabled">
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">Model</label>
                                <input value="" class="form-control" id="Model" maxlength="20" name="Model" placeholder="Q6" type="text" disabled="disabled">
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">Category</label>
                                <input value="" class="form-control" id="Category" maxlength="20" name="Category" placeholder="Passenger Vehicle" type="text" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-12 no-padding mt-3 ">
                            <div class="col-md-12 col-sm-12 no-padding">
                                <div class="col-md-3 col-sm-12 no-padding">
                                    <div class="circle alert-success mt-1"></div>
                                </div>
                                <div class="col-md-9 col-sm-12 no-padding">Complete</div>
                            </div>
                            @*<div class="col-md-12 col-sm-12 no-padding">
            <div class="circle alert-success col-md-4 col-sm-12 no-padding"></div>
            <div class="col-md-8 col-sm-12 no-padding">Complete</div>
        </div>*@
                            <div class="col-md-12 col-sm-12 no-padding">
                                <div class="col-md-3 col-sm-12 no-padding">
                                    <div class="circle alert-warning mt-1"></div>
                                </div>
                                <div class="col-md-9 col-sm-12 no-padding">In progress</div>
                            </div>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialActivityTrackingList.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
