<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>ProductionPlan</title>
   </head>
   <body style="font-family: Arial, Helvetica, sans-serif; padding:0px; margin:0px;">
    <div style="width:100%; background-color:#000000">
		<div style="width:850px; margin:0 auto; background:url(images/draft.png) no-repeat #ffffff; background-position: center center ">
			<table style="width:850px; padding-left:20px; padding-right:20px;">
				<tr>
					<td>
						<table width="100%">
							<tr>
								<td style="width:85%;"> <img src="images/Logo.png" alt="Logo" width="90" height="auto" /> </td>
								<td style="font-size: 11px; font-weight:normal;padding: 10px 0px; line-height:18px; width:15%; text-align:right; font-style:italic;">16-09-2022 13:10pm </td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="font-size: 18px;text-align: center;font-weight: bold;padding: 0px 0px; text-decoration:underline;">Production Plan</td>
				</tr>
				
				<tr>
					<td>
						 <table style=" width:100%;border: solid 1px #afafaf;">
      <tbody>
        <tr>
         
<td style="font-size: 12px; padding: 0px 0px 0px 5px; line-height:18px; width:15%; font-weight:bold; vertical-align:top; ">Plan Number </td>
<td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; width:20%; vertical-align:top;border-right: solid 1px #000000;">B1/04/23/PC0000009</td>
<td style="font-size: 12px; padding: 0px 0px 0px 5px; line-height:18px; width:10%; font-weight:bold; vertical-align:top;">Plan Date</td>
<td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; width:10%; vertical-align:top;border-right: solid 1px #000000;">2023-04-19</td>
<td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; width:15%; font-weight:bold; vertical-align:top;">Source </td>
<td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; width:20%; vertical-align:top;border-right: solid 1px #000000;">Direct </td>
<td rowspan="2" style="font-size: 12px; font-weight:bold; padding: 0px 0px 0px 5px; line-height:18px; width:5%; vertical-align:top;">Cancelled  </td>
<td rowspan="2" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; width:5%; vertical-align:top;">Yes </td>



</tr>
 <tr>
         
<td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:10px; width:15%; font-weight:bold; vertical-align:top;">FY </td>
<td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:16px; width:20%; vertical-align:top;border-right: solid 1px #000000;">01-04-2024 To 31-03-2025 </td>
<td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; width:10%; font-weight:bold; vertical-align:top;">Period  </td>
<td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; width:10%; vertical-align:top;border-right: solid 1px #000000;">July </td>
<td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; width:15%; font-weight:bold; vertical-align:top;">Date Range </td>
<td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; width:20%; vertical-align:top;border-right: solid 1px #000000;">01-07-2024 - 31-07-2024</td>

</tr>
</tbody>
</table>
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
							<thead>
								<tr>
									<th width="5%" style="border-right: solid 1px #000000;"><strong>S.NO.</strong></th>
									<th width="25%" style="border-right: solid 1px #000000;"><strong>Product Name</strong></th>
									<th width="10%" style="border-right: solid 1px #000000;"><strong>UOM</strong></th>
									<th width="10%" style="border-right: solid 1px #000000;"><strong>Planned Quantity</strong></th>
									<th width="10%" style="border-right: solid 1px #000000;"><strong>Order To Produce Quantity</strong></th>									
									<th width="10%" style="border-right: solid 1px #000000;"><strong>Production Completion Date</strong></th>									
									<th width="35%" ><strong>Remarks</strong></th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">1</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>																			
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>									
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">3</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">5</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">6</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">7</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>									
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">8</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">10</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">11</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">12</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">13</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">14</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">15</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">16</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">17</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">18</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">19</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">20</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">21</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">22</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">23</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">24</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
								<tr>
									<td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">25</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">4697 Poly</td>
									<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Pcs</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">9</td>
									<td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">2023-05-04</td>								
									<td style="text-align:left;padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">This is a remarks</td>
								</tr>
							
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
							
										<tr>
											<th  style="border-right: solid 1px #000000;"><strong>Created By</strong></th>
											<th  style="border-right: solid 1px #000000;"><strong>Approved By</strong></th>
											<th  ><strong>Amended By</strong></th>
										</tr>
										<tr>
										<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Admin</td>
										<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">Admin</td>
										<td style="padding-left:5px;vertical-align:top;border-top: solid 1px #000000;">Admin</td>
									</table>
					</td>
				</tr>
				<tr>
					<td style="font-size: 11px; font-weight:normal;padding: 10px 0px; line-height:18px; width:15%; text-align:right; font-style:italic;">Page 1 </td>
				</tr>				
			</table>
		</div>
	</div>
   </body>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
      </html>