@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <h2><span id="SpanItemDescription"></span></h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

    </div>
    <div class="modal-body">
        <table>
            <thead>
                <tr>
                    <th>Buyer Information</th>
                    <th>Buyer Information</th>
                    <th>Buyer Information</th>
                    <th>Buyer Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Buyer Information</td>
                    <td>Buyer Information</td>
                    <td>Buyer Information</td>
                    <td>Buyer Information</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>
