
<ul class="wizard_steps">
    @if (ViewBag.AppLevel != null)
    {


        @*for (int i = 1; i <= ViewBag.AppLevel.Rows.Count; i++)
        {
            if (@ViewBag.AppLevel.Rows[i]["level"].ToString() != "0")
            {
                <li>
                    <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_@ViewBag.AppLevel.Rows[i]["level"].ToString()">
                        <span class="step_no">@ViewBag.AppLevel.Rows[i]["level"].ToString()</span>
                    </a>
                </li>
            }

        }*@
        if (ViewBag.AppLevel.Rows.Count > 0)
            {
                var lastleval = ViewBag.AppLevel.Rows[ViewBag.AppLevel.Rows.Count - 1]["level"];
                for (int i = 0; i < Convert.ToInt32(lastleval); i++)
                {
                    <li>
                        <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_@(i+1)">
                            <span class="step_no">@(i+1)</span>
                        </a>
                    </li>
                }

            }
    }
</ul>
@*<input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />*@
<input type="hidden" id="hdDoc_No" value="" />

