


<div id="kvFileinputModal" class="file-zoom-dialog modal fade show" tabindex="-1" aria-labelledby="kvFileinputModalLabel" aria-modal="true" role="dialog" style="display: block; padding-left: 14px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detailed Preview</h5>
                <span class="kv-zoom-title" title="1ITM0001447_Beautiful-HD-Wallpapers-min-1024x576.jpg  (128.21 KB)">1ITM0001447_Beautiful-HD-Wallpapers-min-1024x576.jpg 
                <samp>(128.21 KB)</samp></span>
                <div class="kv-zoom-actions">
                <button type="button" class="btn btn-kv btn-default btn-outline-secondary btn-toggleheader" title="Toggle header" data-toggle="button"
                                                     aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-resize-vertical"></i></button>
                <button type="button" class="btn btn-kv btn-default btn-outline-secondary btn-fullscreen" title="Toggle full screen" data-toggle="button" aria-pressed="false"
                        autocomplete="off"><i class="glyphicon glyphicon-fullscreen"></i></button>
                <button type="button" class="btn btn-kv btn-default btn-outline-secondary btn-borderless" title="Toggle borderless mode" data-toggle="button" aria-pressed="false"
                        autocomplete="off"><i class="glyphicon glyphicon-resize-full"></i></button>
                    <button type="button" class="btn btn-kv btn-default btn-outline-secondary btn-close"  title="Close detailed preview" data-dismiss="modal" aria-hidden="true">
                    <i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="floating-buttons"></div>
                <div class="kv-zoom-body file-zoom-content krajee-default">
                    <img src="" class="file-preview-image kv-preview-data rotate-1 file-zoom-detail" title="1ITM0001447_Beautiful-HD-Wallpapers-min-1024x576.jpg"
                         alt="1ITM0001447_Beautiful-HD-Wallpapers-min-1024x576.jpg" style="width:auto;height:auto;max-width:100%;max-height:100%;">
                </div>
                <button type="button" class="btn btn-navigate btn-prev" title="View previous file"><i class="fa fa-caret-left fa-lg"></i></button> 
                <button type="button" class="btn btn-navigate btn-next" title="View next file"><i class="fa fa-caret-right fa-lg " aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>


