@{
    string[] stringSeparators1 = new string[] { "\r\n" };
    string text1 = ViewBag.TextData;
    string[] lines1 = text1.Split(stringSeparators1, StringSplitOptions.None);

    for (var i = 0; i < lines1.Length; i++)
    {
        string[] stringSeprtr = new string[] { "  " };
        string[] spLins = lines1[i].Split(stringSeprtr, StringSplitOptions.None);
        if (spLins.Length > 1)
        {
            var j = spLins.Length - 1;
            <span>
                @spLins[0]
                @for (var k = 0; k < (j - 1); k++)
                {
                    <span>&nbsp; &nbsp;</span>
                }
                @spLins[j]
            </span>
            <br />
        }
        else
        {
            <span>@lines1[i]</span>
            <br />
        }
    }
}
