@using EnRepMobileWeb.Resources;
<style>
    #datatable-buttons_filter {
        right: 21.5%;
    }
</style>
<div id="mailview" class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Email </h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top:0px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 pb-1">
                @if (ViewBag.mailmessage != "")
                {
                    @Html.Raw(ViewBag.mailmessage)
                }
                else
                {
                    @Html.Raw("Invalid email body configuration")
                }
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.Close</button>
    </div>
</div>
