<table style="paddingleft:8px; paddingright:9px; vertical-align:top;">
    <tr>
       
        <td width="50%" style="vertical-align:top;">
            <table style="vertical-align:top;">
                <tr>
                    <td style="font-size: 12px; font-weight:bold;vertical-align:top; text-align:left;">For @ViewBag.Details.Tables[0].Rows[0]["comp_nm"] </td>
                </tr>
                <tr>
                    <td style="font-size: 12px; font-weight:bold;padding: 30px 15px 0px 0px; vertical-align:top; text-align:left;">Authorised Signatory</td>
                </tr>
            </table>
        </td>
        <td width="50%" style="vertical-align:top;">
            <table style="vertical-align:top;">
                <tr>
                    <td style="font-size: 12px; font-weight:bold;vertical-align:top; text-align:right;">&nbsp;@*For @ViewBag.Details.Tables[0].Rows[0]["comp_nm"]*@ </td>
                </tr>
                @*<tr>
                    <td style="font-size: 12px; font-weight:bold;padding: 30px 15px 0px 0px; vertical-align:top; text-align:right;">Receiver's Signature'</td>
                </tr>*@
            </table>
        </td>
    </tr>
</table>
