
<!-- Modal -->

<style>
    textarea#modalTextarea{
        max-height: 300px;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="popup_txtAreaTitle">Remarks</h5>
        @*<button type="button" class="btn-close" data-bs-dismiss="modal"></button>*@
        <button type="button" class="close" onclick="OnClickDiscardAndExitBtn();" data-dismiss="modal">×</button>
    </div>

    <div class="modal-body">
        <input hidden id="hdn_txtdes" />
        <textarea class="form-control" id="modalTextarea" rows="8" placeholder="Type here..." maxlength="500"></textarea>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" onclick="onclick_save_close();" data-dismiss="modal" id="saveText">Save & Close</button>
    </div>

</div>

