
@{
    ViewBag.Title = "Configuration";

}
<link href="~/Content/Css/Login/main.css" rel="stylesheet" />
<!-- page content start -->
<div class="right_col no-padding" role="main">
    <div class="col-md-12 col-sm-12 no-padding">
        <div class="limiter">
            <div class="container-login100 coming_soon_bg">

                <div class="wrap-login100"> <span class="login100-form-logo"> <a href="../index.html"><img src="~/Content/Images/logo.png" width="100" height="auto" alt="EnRepLogo"></a> </span> <span class="login100-form-title p-b-34 p-t-27"> Coming Soon ! </span> </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
